[submodule "Ares/vendor/spdlog"]
	path = Ares/vendor/spdlog
	url = https://github.com/gabime/spdlog
[submodule "Ares/vendor/GLFW"]
	path = Ares/vendor/GLFW
	url = https://github.com/TheCherno/GLFW
[submodule "Ares/vendor/imgui"]
	path = Ares/vendor/imgui
	url = https://github.com/TheCherno/imgui
[submodule "Ares\\vendor\\glm"]
	path = Ares\\vendor\\glm
	url = https://github.com/g-truc/glm
